<h1>Noticias</h1>




<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subhead</th>
      <th>Body</th>
      <th>Author</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.subhead %></td>
        <td><%= truncate(entry.body, :length => 500) %></td>
          <td><%= entry.author %></td>
        <td>  <%= link_to 'Editar', edit_entry_path(entry) %></td>
          <td>  <%= link_to 'Eliminar', entry, method: :delete, data: { confirm: 'Are you sure?' }     %></td>
        <td><%= link_to 'Ver Completa', entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Crear Nueva Noticia</h1>

<td><%= link_to 'Crear', new_entry_path() %></td>
